{% extends 'base/base.html' %}
{% load bootstrap5 %}


{% block title %} Manga Update {% endblock title %}

{% block js_scripts %}
<script>
    $(function() {
        const allElements = document.querySelectorAll('.is-valid');
        allElements.forEach((element) => {
            element.classList.remove('is-valid');
        });
    });
</script>
{% endblock js_scripts %}


{% block body %}
    <h1 class="centering"> Collection Update </h1>

    <div class="row space-top">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
            <div class="card">
                {% if img %}
                    <img src="{{ img.url }}" class="card-img-top">
                {% endif %}
                
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="{{ form.title.id_for_label }}">Manga collection title:</label>
                                    {{ form.title }}
                                    {{ form.title.errors }}
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="{{ form.status.id_for_label }}">Status:</label>
                                    {{ form.status }}
                                    {{ form.status.errors }}
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="{{ form.want.id_for_label }}">Volumes you want to buy:</label>
                                    {{ form.want }}
                                    {{ form.want.errors }}
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Your volumes:</label>
                                    {{ bought }}
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="row mt-4">
                            <div class="col d-flex centering">
                                <a href="{% url 'collection_delete' id %}" class="btn btn-danger"> Delete Collection </a>
                            </div>

                            <div class="col d-flex centering">
                                <button type="submit" class="btn btn-warning" name="delete"> Delete Volumes </button>
                            </div>

                            <div class="col d-flex centering">
                                <button type="submit" class="btn btn-primary"> Update </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-3"></div>
    </div>
    
{% endblock body %}