.align-right {
    justify-content: end;
}

.centering {
    text-align: center;
    justify-content: center;
}

hr.divider {
    border-top: 1px solid #bbb;
}

footer, .space-top {
    margin-top: 2rem;
}

footer {
    margin-bottom: 1rem;
}

.manga-card-img {
    height: 8rem;
    object-fit: cover;
}

div.form-group>#id_username, div.form-group #id_password, #search {
    background-color: rgba(242, 242, 242, 1);
    transition: 0.5s;
}

.rm-underline {
    text-decoration: none; 
}