{% extends 'base/base.html' %}
{% load bootstrap5 %}
{% load static %}


{% block title %} Anime Update {% endblock title %}

{% block js_scripts %}
    <script>
        $(function() {
            const allElements = document.querySelectorAll('.is-valid');
            allElements.forEach((element) => {
                element.classList.remove('is-valid');
            });
        });
    </script>
{% endblock js_scripts %}


{% block body %}
    <h1 class="centering"> Anime Update </h1>

    <div class="row space-top">
        <div class="col-lg-3">
            <a href="{% url 'my_animes' %}" class="d-flex align-right" style="color: black;">
                <svg xmlns="{% static '/images/box-arrow-left.svg' %}" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>
            </a>
        </div>

        <div class="col-lg-6">
            <div class="card">
                {% if img %}
                    <img src="{{ img.url }}" class="card-img-top">
                {% endif %}
                
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="{{ form.title.id_for_label }}">Anime title:</label>
                                    {{ form.title }}
                                    {{ form.title.errors }}
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="{{ form.episode.id_for_label }}">Current episode:</label>
                                    {{ form.episode }}
                                    {{ form.episode.errors }}
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="{{ form.status.id_for_label }}">Status:</label>
                                    {{ form.status }}
                                    {{ form.status.errors }}
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="row mt-4">
                            <div class="col d-flex centering">
                                <a href="{% url 'anime_delete' id %}" class="btn btn-danger"> Delete </a>
                            </div>

                            <div class="col d-flex centering">
                                <button type="submit" class="btn btn-primary"> Update </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-3"></div>
    </div>
    
{% endblock body %}