{% extends 'base/base.html' %}
{% load bootstrap5 %}


{% block title %} Manga Update {% endblock title %}

{% block js_scripts %}
<script>
    $(function() {
        const allElements = document.querySelectorAll('.is-valid');
        allElements.forEach((element) => {
            console.log("OI");
            element.classList.remove('is-valid');
        });
    });
</script>
{% endblock js_scripts %}


{% block body %}
    <h1 class="centering"> Manga Update </h1>

    <div class="row space-top">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
            <div class="card">
                {% if img %}
                    <img src="{{ img.url }}" class="card-img-top">
                {% endif %}
                
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                
                        <div class="row">
                            <div class="col d-flex centering">
                                <a href="{% url 'manga_delete' id %}" class="btn btn-danger"> Delete </a>
                            </div>

                            <div class="col d-flex centering">
                                <a href="{{ url }}" class="btn btn-success" target="_blank"> Continue </a>
                            </div>

                            <div class="col d-flex centering">
                                <button type="submit" class="btn btn-primary"> Update </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-3"></div>
    </div>
    
{% endblock body %}